<div class="min-h-screen pt-24 px-4">
    <div class="max-w-6xl mx-auto">
        <!--        <div class="flex justify-between items-center mb-12">-->
        <!--            <h1 class="text-4xl font-bold">CV</h1>-->
        <!--            <a href="/assets/cv.pdf"-->
        <!--               target="_blank"-->
        <!--               class="px-4 py-2 bg-blue-600 rounded hover:bg-blue-700 transition-colors">-->
        <!--                Download PDF-->
        <!--            </a>-->
        <!--        </div>-->

        <section class="mb-12">
            <h2 class="text-2xl font-bold mb-6 text-gray-300">Experience</h2>
            <div class="space-y-7">
              <div class="relative p-[1px] rounded-xl bg-gradient-to-r from-purple-500 via-pink-500 to-red-500">
                <div class="rounded-xl bg-gray-900 p-4">
                  <div
                    class="grid grid-cols-1 md:grid-cols-4 gap-4">
                    <div class="text-gray-400 ">June 2025 - present</div>
                    <div class="md:col-span-3 mb-3">
                      <a href="https://www.steelssl.co.uk/"
                         target="_blank"
                         class="text-xl font-extrabold text-blue-500  cursor-pointer group inline-flex items-center gap-1">
                        <span>Steel Software Solutions</span>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="h-4 w-4 inline-block group-hover:scale-150 transform transition-all duration-300 no-underline"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="white">
                          <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                                d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"/>
                        </svg>
                      </a>
                      <h3 class="text-xl inline text-gray-400"> & </h3>
                      <a href="https://ppgroupltd.co.uk/"
                         target="_blank"
                         class="text-xl font-extrabold text-blue-500  cursor-pointer group inline-flex items-center gap-1">
                        <span>P.P. Group</span>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="h-4 w-4 inline-block group-hover:scale-150 transform transition-all duration-300 no-underline"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="white">
                          <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                                d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"/>
                        </svg>
                      </a>


                      <div class="text-gray-300 mb-2 font-light">Software Engineer</div>
                      <p class="text-gray-400">Involvement in the development and ongoing maintenance of various applications within the steel industry</p>
<!--                      <ul class="mt-4 space-y-2">-->
<!--                        <li-->
<!--                          class="flex items-start gap-2">-->
<!--                          <span class="text-blue-400">•</span>-->
<!--                          <span class="text-gray-300">Working on an AI-driven app serving 1,000+ U.S.-based technicians, collaborating with global teams to deliver precise, scalable solutions for renewable energy maintenance-->
<!--</span>-->
<!--                        </li>-->
<!--                        <li-->
<!--                          class="flex items-start gap-2">-->
<!--                          <span class="text-blue-400">•</span>-->
<!--                          <span class="text-gray-300">Developing and scaling web applications, so far using mainly technologies like Angular and Python</span>-->
<!--                        </li>-->
<!--                        <li-->
<!--                          class="flex items-start gap-2">-->
<!--                          <span class="text-blue-400">•</span>-->
<!--                          <span class="text-gray-300">Collaborating with the team using Jira and Teams</span>-->
<!--                        </li>-->
<!--                        <li-->
<!--                          class="flex items-start gap-2">-->
<!--                          <span class="text-blue-400">•</span>-->
<!--                          <span class="text-gray-300">Reviewing code, debugging, writing documentation and implementing new features</span>-->
<!--                        </li>-->
<!--                        <li-->
<!--                          class="flex items-start gap-2">-->
<!--                          <span class="text-blue-400">•</span>-->
<!--                          <span class="text-gray-300">Mentoring other team members and helping them solve various problems</span>-->
<!--                        </li>-->
<!--                      </ul>-->
                    </div>
                  </div>
                </div>
              </div>
                <div class="relative p-[1px] rounded-xl bg-gradient-to-r from-purple-500 via-pink-500 to-red-500">
                    <div class="rounded-xl bg-gray-900 p-4">
                        <div
                                class="grid grid-cols-1 md:grid-cols-4 gap-4">
                            <div class="text-gray-400 ">January 2024 - May 2025</div>
                            <div class="md:col-span-3 mb-3">

                                <a href="https://www.nexteraenergy.com/"
                                   target="_blank"
                                   class="text-xl font-extrabold text-blue-500  cursor-pointer group inline-flex items-center gap-1">
                                    <span>NextEra Energy</span>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         class="h-4 w-4 inline-block group-hover:scale-150 transform transition-all duration-300 no-underline"
                                         fill="none"
                                         viewBox="0 0 24 24"
                                         stroke="white">
                                        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                                              d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"/>
                                    </svg>
                                </a>
                                <h3 class="text-xl inline text-gray-400"> & </h3>
                                <a href="https://www.softserveinc.com/en-us"
                                   target="_blank"
                                   class="text-xl font-extrabold text-blue-500  cursor-pointer group inline-flex items-center gap-1">
                                    <span>SoftServe</span>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         class="h-4 w-4 inline-block group-hover:scale-150 transform transition-all duration-300 no-underline"
                                         fill="none"
                                         viewBox="0 0 24 24"
                                         stroke="white">
                                        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                                              d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"/>
                                    </svg>
                                </a>
                                <div class="text-gray-300 mb-2 font-light">Junior/Middle Software Engineer</div>
                                <p class="text-gray-400">Apps development</p>
                                <ul class="mt-4 space-y-2">
                                    <li
                                            class="flex items-start gap-2">
                                        <span class="text-blue-400">•</span>
                                        <span class="text-gray-300">Working on an AI-driven app serving 1,000+ U.S.-based technicians, collaborating with global teams to deliver precise, scalable solutions for renewable energy maintenance
</span>
                                    </li>
                                    <li
                                            class="flex items-start gap-2">
                                        <span class="text-blue-400">•</span>
                                        <span class="text-gray-300">Developing and scaling web applications, using mainly technologies like Angular and Python</span>
                                    </li>
                                    <li
                                            class="flex items-start gap-2">
                                        <span class="text-blue-400">•</span>
                                        <span class="text-gray-300">Collaborating with the team using Jira and Teams</span>
                                    </li>
                                    <li
                                            class="flex items-start gap-2">
                                        <span class="text-blue-400">•</span>
                                        <span class="text-gray-300">Reviewing code, debugging, writing documentation and implementing new features</span>
                                    </li>
                                    <li
                                            class="flex items-start gap-2">
                                        <span class="text-blue-400">•</span>
                                        <span class="text-gray-300">Mentoring other team members and helping them solve various problems</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                <div class="relative p-[1px] rounded-xl bg-gradient-to-r from-purple-500 via-pink-500 to-red-500">-->
                <!--                    <div class="rounded-xl bg-gray-900 p-4">-->
                <!--                        <div *ngFor="let exp of kbwExperience"-->
                <!--                             class="grid grid-cols-1 md:grid-cols-4 gap-4">-->
                <!--                            <div class="text-gray-400 ">{{ exp.period }}</div>-->
                <!--                            <div class="md:col-span-3 mb-3">-->
                <!--                                <h3 class="text-xl font-extrabold text-blue-500">{{ exp.company }}</h3>-->
                <!--                                <p class="text-gray-400">{{ exp.description }}</p>-->
                <!--                                <ul class="mt-4 space-y-2">-->
                <!--                                    <li *ngFor="let achievement of exp.achievements"-->
                <!--                                        class="flex items-start gap-2 text-gray-300">-->
                <!--                                        <span class="text-blue-400">•</span>-->
                <!--                                        <span>{{ achievement }}</span>-->
                <!--                                    </li>-->
                <!--                                </ul>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div class="relative p-[1px] rounded-xl bg-gradient-to-r from-purple-500 via-pink-500 to-red-500">
                    <div class="rounded-xl bg-gray-900 p-4">
                        <div *ngFor="let exp of experience"
                             class="grid grid-cols-1 md:grid-cols-4 gap-4">
                            <div class="text-gray-400 ">{{ exp.period }}</div>
                            <div class="md:col-span-3 mb-3">
                                <h3 class="text-xl font-extrabold text-blue-500">{{ exp.company }}</h3>
                                <div class="text-gray-300 mb-2 font-light">{{ exp.position }}</div>
                                <p class="text-gray-400">{{ exp.description }}</p>
                                <ul class="mt-4 space-y-2">
                                    <li *ngFor="let achievement of exp.achievements"
                                        class="flex items-start gap-2 text-gray-300">
                                        <span class="text-blue-400">•</span>
                                        <span>{{ achievement }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="relative p-[1px] rounded-xl bg-gradient-to-r from-purple-500 via-pink-500 to-red-500">
                    <div class="rounded-xl bg-gray-900 p-4">
                        <div
                                class="grid grid-cols-1 md:grid-cols-4 gap-4">
                            <div class="text-gray-400 ">May 2019 - present</div>
                            <div class="md:col-span-3 mb-3">
                                <a href="https://www.pkw.gov.pl/strona-glowna"
                                   target="_blank"
                                   class="text-xl font-extrabold text-blue-500  cursor-pointer group inline-flex items-center gap-1">
                                    <span>KBWGOV Poland</span>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         class="h-4 w-4 inline-block group-hover:scale-150 transform transition-all duration-300 no-underline"
                                         fill="none"
                                         viewBox="0 0 24 24"
                                         stroke="white">
                                        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                                              d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"/>
                                    </svg>
                                </a>
                                <div class="text-gray-300 mb-2 font-light">Information Technology Support Specialist
                                </div>

                                <p class="text-gray-400">Technology & Hardware On-Site Contract</p>
                                <ul class="mt-4 space-y-2">
                                    <li
                                            class="flex items-start gap-2">
                                        <span class="text-blue-400">•</span>
                                        <span class="text-gray-300">Provided technical support for the Polish National Electoral Commission during national/local elections (2019, twice in 2020, 2023, twice in 2024, twice in 2025)
</span>
                                    </li>
                                    <li
                                            class="flex items-start gap-2">
                                        <span class="text-blue-400">•</span>
                                        <span class="text-gray-300">Operated election software, assisted with secure data transmission and system setup</span>
                                    </li>
                                    <li
                                            class="flex items-start gap-2">
                                        <span class="text-blue-400">•</span>
                                        <span class="text-gray-300">Troubleshooted any hardware and software issues under time pressure to ensure smooth and accurate reporting</span>
                                    </li>
                                    <li
                                            class="flex items-start gap-2">
                                        <span class="text-blue-400">•</span>
                                        <span class="text-gray-300">Ensured compliance with data integrity and official protocols in high-responsibility settings</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="relative p-[1px] rounded-xl bg-gradient-to-r from-purple-500 via-pink-500 to-red-500">
                    <div class="rounded-xl bg-gray-900 p-4">
                        <div
                                class="grid grid-cols-1 md:grid-cols-4 gap-4">
                            <div class="text-gray-400 ">January 2017 - April 2017</div>
                            <div class="md:col-span-3 mb-3">

                                <h3 class="text-xl font-extrabold text-blue-500">NET-WAL</h3>
                                <div class="text-gray-300 mb-2 font-light">Internship</div>

                                <p class="text-gray-400">Technology & Hardware Internship</p>
                                <ul class="mt-4 space-y-2">
                                    <li
                                            class="flex items-start gap-2">
                                        <span class="text-blue-400">•</span>
                                        <span class="text-gray-300">This Internship was a part of my education as Information Technology Technician/Computer Specialist
</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="relative p-[1px] rounded-xl bg-gradient-to-r from-purple-500 via-pink-500 to-red-500">
                    <div class="rounded-xl bg-gray-900 p-4">
                        <div
                                class="grid grid-cols-1 md:grid-cols-4 gap-4">
                            <div class="text-gray-400 ">2015 - present</div>
                            <div class="md:col-span-3 mb-3">

                                <h3 class="text-xl font-extrabold text-blue-500">Freelance Developer</h3>

                                <p class="text-gray-400 mt-5">Software/Tools/Scripts development and other
                                    activities</p>
                                <ul class="mt-4 space-y-2">
                                    <li
                                            class="flex items-start gap-2">
                                        <span class="text-blue-400">•</span>
                                        <span class="text-gray-300">Found vulnerabilities/bugs in various web systems/online games such as NosTale, Elsword, BitKong, Fairspin, DuckDice, CS:GO community servers mods, etc.
</span>
                                    </li>
                                    <li
                                            class="flex items-start gap-2">
                                        <span class="text-blue-400">•</span>
                                        <span class="text-gray-300">Development of tools and scripts at the request of online customers</span>
                                    </li>
                                    <li
                                            class="flex items-start gap-2">
                                        <span class="text-blue-400">•</span>
                                        <span class="text-gray-300">Collaboration with bug hunters on community forums</span>
                                    </li>
                                    <li
                                            class="flex items-start gap-2">
                                        <span class="text-blue-400">•</span>
                                        <span class="text-gray-300">Development of paid tools and scripts with many sales</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mb-12 border-t border-gray-600">
            <h2 class="text-2xl font-bold mb-6 mt-8 text-gray-300">Education</h2>
            <div class="space-y-8">
                <div *ngFor="let edu of education"
                     class="grid grid-cols-1 md:grid-cols-4 gap-4">
                    <div class="text-gray-400">{{ edu.period }}</div>
                    <div class="md:col-span-3">
                        <h3 class="text-xl font-bold text-gray-300">{{ edu.institution }}</h3>
                        <div class="text-gray-300">{{ edu.degree }}</div>
                        <p *ngIf="edu.description"
                           class="text-gray-400 mt-2">
                            {{ edu.description }}
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="skills" class="mb-12 border-t border-gray-600">
            <h2 class="text-2xl font-bold mb-6 mt-8 text-gray-300">Skills</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div *ngFor="let category of skills">
                    <h3 class="font-bold mb-3 text-gray-300">{{ category.name }}</h3>
                    <div class="flex flex-wrap gap-2">
                <span *ngFor="let skill of category.items"
                      class="flex items-center space-x-2 px-3 py-1 bg-gray-800 rounded-full text-sm
                             transition-all duration-300 ease-in-out transform hover:scale-110 hover:bg-gray-700
                             hover:shadow-md cursor-default">
                  <img *ngIf="logos[skill]" [src]="logos[skill]" alt="{{ skill }} logo" class="w-5 h-5">
                  <span class="text-gray-300">{{ skill }}</span>
                </span>
                    </div>
                </div>
            </div>
        </section>
        <section class="mb-12 border-t border-gray-600">
            <h2 class="text-2xl font-bold mb-6 mt-8 text-gray-300">Languages</h2>
            <div class="space-y-2">
                <div *ngFor="let lang of langs"
                     class="grid grid-cols-1 md:grid-cols-4 gap-4">
                    <div class="text-gray-400">{{ lang.period }}</div>
                    <div class="md:col-span-3">
                        <div class="text-gray-300">{{ lang.name }}</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mb-12 border-t border-gray-600">
            <h2 class="text-2xl font-bold mb-6 mt-8 text-gray-300">Certificates & Qualifications </h2>
            <div class="space-y-2">
                <div *ngFor="let certs of certs"
                     class="grid grid-cols-1 md:grid-cols-4 gap-4">
                    <div class="text-gray-400">{{ certs.period }}</div>
                    <div class="md:col-span-3">
                        <div class="text-gray-300">{{ certs.name }}</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mb-12 border-t border-gray-600">
            <h2 class="text-2xl font-bold mb-6 mt-8 text-gray-300">Awards </h2>
            <div class="space-y-2">
                <div *ngFor="let certs of awards"
                     class="grid grid-cols-1 md:grid-cols-4 gap-4">
                    <div class="text-gray-400">{{ certs.period }}</div>
                    <div class="md:col-span-3">
                        <div class="text-gray-300">{{ certs.name }}</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mb-12 border-t border-gray-600">
            <h2 class="text-2xl font-bold mb-6 mt-8 text-gray-300">Other</h2>
            <div class="space-y-2">
                <div *ngFor="let other of other" class="grid grid-cols-1 md:grid-cols-4 gap-4 text-gray-300">
                    <div class="text-gray-400">{{ other.period }}</div>
                    <div class="md:col-span-3">
                        <div class="flex items-center space-x-2">
                            <span class="text-gray-300">{{ other.name }}</span>
                            <a *ngIf="other.link!==''" href="{{other.link}}" target="_blank"
                               class="text-blue-500 hover:text-blue-700">
                                <svg fill="currentColor" width="24px" height="24px" viewBox="0 0 36 36" version="1.1"
                                     preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <title>pop-out-line</title>
                                    <path class="clr-i-outline clr-i-outline-path-1"
                                          d="M27,33H5a2,2,0,0,1-2-2V9A2,2,0,0,1,5,7H15V9H5V31H27V21h2V31A2,2,0,0,1,27,33Z"></path>
                                    <path class="clr-i-outline clr-i-outline-path-2"
                                          d="M18,3a1,1,0,0,0,0,2H29.59L15.74,18.85a1,1,0,1,0,1.41,1.41L31,6.41V18a1,1,0,0,0,2,0V3Z"></path>
                                    <rect x="0" y="0" width="36" height="36" fill-opacity="0"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

</div>
