<app-navbar></app-navbar>

<div class="min-h-screen pt-24 px-4">
    <div class="max-w-2xl mx-auto">
        <section class="mb-16">
            <h2 class="text-2xl font-bold mb-8">About</h2>

            <p class="text-lg text-gray-300 mb-6">
                My name is Artur and I am 24 years old.
                I've always been driven by the pursuit of perfection, chasing goals that often feel just out of reach.
                Phrases like "everything can be improved," "never settle" have shaped my mindset.
                By junior school, with encouragement from my teacher, I found myself competing in local math contest, earning my first modest achievement.
                I've been regularly participating in sport 🏃🏻 events where I also earned a few achievements and scholarships.
                Other than that - I took regular piano lessons 🎹.
                While much has evolved over the years, my dedication to seek creative and forward-thinking solutions has never wavered.

            </p>

            <p class="text-lg text-gray-300 mb-6">
                During my time in technical school, I expanded my understanding of computer science,
                delving into areas like low-level programming and earning IT-specific certificates and qualifications.
                This period also marked a turning point in my personal interests, as I began achieving significant success in gaming.
                In League of Legends, the world’s most popular multiplayer game, I consistently rank to this day among the highest players,
                beating even professionals. While I share my gameplay on platforms like
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 16px; height: 16px; display: inline-block; vertical-align: middle;">
                    <rect width="512" height="512" rx="15%" fill="#6441a4"></rect>
                    <path d="m115 101-22 56v228h78v42h44l41-42h63l85-85v-199zm260 185-48 48h-78l-42 42v-42h-65v-204h233zm-48-100v85h-30v-85zm-78 0v85h-29v-85z" fill="#fff"></path>
                </svg>
                <a href="https://www.twitch.tv/arthua" class="underline inline"> Twitch </a>
                and
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="16" height="16" style="display: inline-block; vertical-align: middle;">
                    <path d="M62.603 16.596a8.06 8.06 0 0 0-5.669-5.669C51.964 9.57 31.96 9.57 31.96 9.57s-20.005.04-24.976 1.397a8.06 8.06 0 0 0-5.669 5.669C0 21.607 0 32 0 32s0 10.393 1.356 15.404a8.06 8.06 0 0 0 5.669 5.669C11.995 54.43 32 54.43 32 54.43s20.005 0 24.976-1.356a8.06 8.06 0 0 0 5.669-5.669C64 42.434 64 32 64 32s-.04-10.393-1.397-15.404z" fill="red"></path>
                    <path d="M25.592 41.612L42.187 32l-16.596-9.612z" fill="#fff"></path>
                </svg>

                <a href="https://www.youtube.com/@improverlol" class="underline inline"> YouTube </a>,
                I never aspired to become a pro-player, preferring instead to focus on my passion for IT - I
                honed my technical skills by uncovering and reporting significant bugs in online systems and games,
                such as inventory duplication exploits in the MMORPG NosTale.
                These experiences fueled my interest in security and reverse engineering.
            </p>



            <p class="text-lg text-gray-300 mb-6">
                After graduating from technical school, I pursued higher education at PANS Nysa College,
                completing my Bachelor of Engineering degree in mid-2024. There, I deepened my expertise in modern systems and
                object-oriented programming, working extensively with languages like
                Java, C++, C#, Go, TypeScript/JavaScript, PHP, and some Python. My interests have grown even more for web development, reverse engineering, bug hunting, system security,
                and efficiency optimization 👨🏻‍💻.
                </p>

            <p class="text-lg text-gray-300 mb-6">
                In addition to my previous experiences,
                I've also discovered several noteworthy security vulnerabilities.
                One such find was on the online blockchain casino BitKong.com, where I identified a bug that allowed bypassing user privacy settings.
                This vulnerability exposed sensitive data, such as bet history and deposit/withdrawal records, granting
                unauthorized access to personal information 🔒.

            </p>

            <p class="text-lg text-gray-300 mb-6">
                Another significant exploit I uncovered was on Fairspin.io, a blockchain-based gaming platform.
                I found a major flaw that enabled user to rapidly multiply their deposited funds, achieving a growth rate
                of approximately 150% per month 📈. This exploit worked by abusing the platform's websocket connection, allowing me
                to manipulate the system for financial gain.


            </p>


            <p class="text-lg text-gray-300 mb-6">
                These discoveries not only showcased my ability to identify and report critical
                security issues but also deepened my interest in system vulnerabilities, security
                practices, and ethical hacking 🐱‍💻.



            </p>


            <p class="text-lg text-gray-300 mb-6">
                I consider myself a fast learner, confident in my ability to quickly adapt to new
                frameworks and programming languages when needed. I am eager to take on new challenges,
                collaborate with teams, and contribute to innovative business projects,
                all while continuing to grow my technical skill set.
            </p>



        </section>



    </div>

    <app-footer></app-footer>
</div>