<div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 gap-8">
<div
            *ngFor="let photo of photos;  let i = index"
            class="rounded-lg bg-cover bg-center cursor-pointer aspect-square hover:scale-105 transition-transform"
            [ngStyle]="{
        'background-image': 'url(' + photo.url + ')',
        'transform': rotations[i]
      }"
            (click)="openPhoto(photo)"
    >
    </div>

    <div
            class="text-center flex items-center justify-center aspect-square text-white font-bold text-xl"
            [ngStyle]="{
        'transform': rotations[photos.length]
      }"
    >
        more to be added...
    </div>
</div>

<dialog id="photoModal" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <img [src]="selectedPhoto?.url" alt="Photo" class="w-full rounded-lg" />
        <p class="mt-4 text-gray-200 font-light italic">{{ selectedPhoto?.description }}</p>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>
