<div class="min-h-screen pt-24 px-4">
    <div class="max-w-6xl mx-auto">
        <section class="mb-16       mt-12">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
                <div>
                    <h1 class="text-2xl md:text-5xl font-bold mb-4">
                        👋
                    </h1>
                    <p class="text-lg text-gray-300 mb-6">
                        I'm a young Junior Developer passionate about creating solid and secure software.

                    </p>
                    <p class="text-lg text-gray-300 mb-6">
                        Currently living in Weilerswist, Germany and Nysa, Poland (depending on needs).
                    </p>
<!--                    <div class="flex gap-4">-->
<!--                        <a href="https://github.com/arthures11"-->
<!--                           target="_blank"-->
<!--                           class="px-6 py-3 bg-blue-600 rounded-lg hover:bg-blue-700 transition-colors">-->
<!--                            View GitHub-->
<!--                        </a>-->
<!--                        <a routerLink="/projects"-->
<!--                           class="px-6 py-3 bg-gray-700 rounded-lg hover:bg-gray-600 transition-colors">-->
<!--                            Browse projects-->
<!--                        </a>-->
<!--                    </div>-->
                </div>
                <div class="ml-auto hidden md:block">
                    <div class="aspect-square rounded-full bg-gray-800 flex items-center justify-center text-9xl">
                        👨‍💻
                    </div>
                </div>
            </div>
        </section>

        <section class="mb-16">
            <h2 class="text-2xl font-bold mb-8">One of my projects</h2>

            <!-- Projects Grid -->

            <div class="items-center md:grid-cols-2 gap-6 ">
                <app-project-card
                        *ngFor="let project of filteredProjects"
                        [project]="project">
                </app-project-card>
            </div>

        </section>

<!--        <section class="mb-16">-->
<!--            <h2 class="text-2xl font-bold mb-8">Technologies I Work With</h2>-->
<!--            <div class="grid grid-cols-2 md:grid-cols-4 gap-4">-->
<!--                <div *ngFor="let tech of technologies"-->
<!--                     class="p-4 bg-gray-800 rounded-lg text-center hover:bg-gray-700 transition-colors">-->
<!--                    {{tech}}-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
        <section id="contact" class="mb-16">
            <h2 class="text-2xl font-bold mb-8">Contact</h2>

            <app-contact></app-contact>
        </section>

    </div>

    <app-footer></app-footer>
</div>